:host {
  display: grid;
  grid-gap: 0;

  grid-template:
    " nav  header  header " auto
    " nav  main   main   " 1fr
  /   50px auto   1fr
  ;

  height: 100vh;
  padding: 0;
}

header {
  grid-area: header;
  background: #24292e;
}

nav {
  grid-area: nav;

  background: #24292e;

}

main {
  grid-area: main;
  display: grid;
  justify-items: center;
  overflow: auto;
}

header, footer, nav {
  a {
    text-decoration: none;
    color: black;
  }
}
